// Variables
$text: #dbeef6;
$background: #030a0c;
$primary: #8dcbe2;
$secondary: #07171c;
$accent: #a2d4e7;

$fontFamily: "Open Sans", sans-serif;

$topLenght: -104%;

// Globals
html {
  height: 100%;
  line-height: 1.6;
}
body {
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
  background-color: $background;
}

* {
  box-sizing: border-box;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}

input,
button {
  outline: none;
  border: 0;
  &:focus {
    outline: none;
    border: 0;
  }
}

h1 {
  color: $text;
  text-transform: capitalize;
}
.question-box {
  position: relative;
  input.question-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 96%;
  }
}

.question-sec:last-child() {
  margin-bottom: 20px;
}

.question-txt {
  font-size: 30px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  right: -1000px;
  &.show {
    right: 12px;
  }
}

// Edit The ScrollBar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondary;
}

::-webkit-scrollbar-thumb {
  background: $text;
}

.radio-button {
  &.choosed {
    background-color: $secondary;
  }
}

.choose-btn {
  border: 10px solid $text;
  box-shadow: 0 0 0 7px $accent;
}

.question-answer {
  &.right-answer {
    background-color: $primary;
    input[type="text"] {
      background-color: $primary;
      color: white;
    }
    .choose-btn {
      border: 10px solid $accent;
      box-shadow: 0 0 0 7px $background;
    }
  }
}

.all-answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;

  .answering {
    width: 80%;
    height: 93vh;
    transition: 500ms;

    .answers {
      display: grid;
      grid-template-columns: repeat(4, 334.125px);
      grid-template-rows: repeat(2, 100px);
      gap: 20px;
      -moz-column-gap: 47px;
      column-gap: 47px;
      row-gap: 150px;
      margin-top: 120px;

      .answer {
        padding: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.selected {
          background-color: $secondary;
          span.suggetions {
            color: #fff;
          }
        }
        &.selected-right {
          background-color: #009688;
          span.suggetions {
            color: #fff;
          }
        }
        &.selected-wrong {
          background-color: #f44336;
          span.suggetions {
            color: #fff;
          }
        }
        span.suggetions {
          font-size: 25px;
          color: $primary;
        }
      }
    }
  }
}

main {
  width: 100%;

  @media (min-width: 868px) and (max-width: 1719px) {
    width: 50%;
  }
  @media (min-width: 768px) and (max-width: 867px) {
    width: 60%;
  }
  @media (min-width: 350px) and (max-width: 767px) {
    width: 90%;
    .all-qs {
      width: 100%;
    }
  }
  @media (min-width: 350px) and (max-width: 1719px) {
    .all-qs {
      width: 100%;
    }
    .all-answers {
      display: block;
      padding: 0;
      .answering {
        width: 100%;
        height: auto;
        .answers {
          display: block;
          margin-top: 50px;
        }
      }
    }
  }
}

.all-qs {
  width: 25%;
  margin-inline: auto;
}

.to-left {
  -webkit-animation: toLeft 1000ms linear 300ms forwards;
  animation: toLeft 1000ms linear 300ms forwards;
}
@-webkit-keyframes toLeft {
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(-120%);
    position: absolute;
  }
}

@keyframes toLeft {
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(-120%);
    position: absolute;
  }
}

.confirm-answers {
  width: 500px;
  height: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  transition-delay: 500ms;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@import "./arrow.scss";
