html {
  height: 100%;
  line-height: 1.6;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #030a0c;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

input,
button {
  outline: none;
  border: 0;
}
input:focus,
button:focus {
  outline: none;
  border: 0;
}

h1 {
  color: #dbeef6;
  text-transform: capitalize;
}

.question-box {
  position: relative;
}
.question-box input.question-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 96%;
}

.question-sec:last-child() {
  margin-bottom: 20px;
}

.question-txt {
  font-size: 30px;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  right: -1000px;
}
.error.show {
  right: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #07171c;
}

::-webkit-scrollbar-thumb {
  background: #dbeef6;
}

.radio-button.choosed {
  background-color: #07171c;
}

.choose-btn {
  border: 10px solid #dbeef6;
  box-shadow: 0 0 0 7px #a2d4e7;
}

.question-answer.right-answer {
  background-color: #8dcbe2;
}
.question-answer.right-answer input[type=text] {
  background-color: #8dcbe2;
  color: white;
}
.question-answer.right-answer .choose-btn {
  border: 10px solid #a2d4e7;
  box-shadow: 0 0 0 7px #030a0c;
}

.all-answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.all-answers .answering {
  width: 80%;
  height: 93vh;
  transition: 500ms;
}
.all-answers .answering .answers {
  display: grid;
  grid-template-columns: repeat(4, 334.125px);
  grid-template-rows: repeat(2, 100px);
  gap: 20px;
  -moz-column-gap: 47px;
  column-gap: 47px;
  row-gap: 150px;
  margin-top: 120px;
}
.all-answers .answering .answers .answer {
  padding: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.all-answers .answering .answers .answer.selected {
  background-color: #07171c;
}
.all-answers .answering .answers .answer.selected span.suggetions {
  color: #fff;
}
.all-answers .answering .answers .answer.selected-right {
  background-color: #009688;
}
.all-answers .answering .answers .answer.selected-right span.suggetions {
  color: #fff;
}
.all-answers .answering .answers .answer.selected-wrong {
  background-color: #f44336;
}
.all-answers .answering .answers .answer.selected-wrong span.suggetions {
  color: #fff;
}
.all-answers .answering .answers .answer span.suggetions {
  font-size: 25px;
  color: #8dcbe2;
}

main {
  width: 100%;
}
@media (min-width: 868px) and (max-width: 1719px) {
  main {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 867px) {
  main {
    width: 60%;
  }
}
@media (min-width: 350px) and (max-width: 767px) {
  main {
    width: 90%;
  }
  main .all-qs {
    width: 100%;
  }
}
@media (min-width: 350px) and (max-width: 1719px) {
  main .all-qs {
    width: 100%;
  }
  main .all-answers {
    display: block;
    padding: 0;
  }
  main .all-answers .answering {
    width: 100%;
    height: auto;
  }
  main .all-answers .answering .answers {
    display: block;
    margin-top: 50px;
  }
}

.all-qs {
  width: 25%;
  margin-inline: auto;
}

.to-left {
  -webkit-animation: toLeft 500ms linear 300ms forwards;
  animation: toLeft 500ms linear 300ms forwards;
}

@-webkit-keyframes toLeft {
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(-120%);
    position: absolute;
  }
}
@keyframes toLeft {
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(-120%);
    position: absolute;
  }
}
.round {
  position: absolute;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: red;
}

#cta {
  width: 100%;
  cursor: pointer;
  position: absolute;
}

#cta .arrow {
  left: 30%;
}

.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
}

.segunda {
  margin-left: 8px;
}

.next {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@-webkit-keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.bounceAlpha {
  -webkit-animation-name: bounceAlpha;
  animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  -webkit-animation-name: bounceAlpha;
  animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.round:hover .arrow {
  -webkit-animation-name: bounceAlpha;
  animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.round:hover .arrow.primera {
  -webkit-animation-name: bounceAlpha;
  animation-name: bounceAlpha;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/*# sourceMappingURL=styles.css.map */
